@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@keyframes gradientDiagonal {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* GLOBAL PROPERTIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

/* CUSTOM PROPERTIES */ 
:root {
  --bg-primary: linear-gradient(135deg, #E4F2FF 0%, #DFFFE8 100%);
  --bg-header: #ececec;
  --bg-signin:  #fafafa;
  --bg-footer: #e5e5e5;
  --color-divider-green: #198754;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
  background-image: var(--bg-primary);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-attachment: scroll;
  background-position: center, center;
  animation: gradientDiagonal 5s ease infinite;
}

#header {
  background-color: var(--bg-header);
}

#signin-form {
  background-color: var(--bg-signin);
  width: min(100%, max(21.875rem, 35%));
}

#footer {
  background-color: var(--bg-footer);
}

.logo {
  height: 3rem;
}

.article-divider {
  width: 50%;
  height: 0.2rem;
  margin: 2rem auto;
  background-color: var(--color-divider-green);
  border: none;
  box-shadow: 0 0.5rem 0.75rem var(--color-divider-green);
}

.signup-note {
  font-size: 0.85em;
}

.signup-link {
  text-decoration: none;
  font-weight: bolder;
}