@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* GLOBAL PROPERTIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

/* CUSTOM PROPERTIES */ 
:root {
  --bg-header: #E0E0E0;
  --color-divider-green: #198754;
}

#header {
  background-color: var(--bg-header);
}

#signin-form {
  width: min(100%, max(21.875rem, 35%));
}

.logo {
  height: 3rem;
}

.article-divider {
  width: 50%;
  height: 0.2rem;
  margin: 2rem auto;
  background-color: var(--color-divider-green);
  border: none;
  box-shadow: 0 0.5rem 0.75rem var(--color-divider-green);
}

.signup-note {
  font-size: 0.85em;
}

.signup-link {
  text-decoration: none;
  font-weight: bolder;
}