@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* GLOBAL PROPERTIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

/* CUSTOM PROPERTIES */ 
:root {
  --bg-header: #E0E0E0;
}

#header {
  background-color: var(--bg-header);
}

.logo {
  height: 3rem;
}