/* GLOBAL PROPERTIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* CUSTOM PROPERTIES */ 
:root {
  --bg-primary: linear-gradient(135deg, #E4F2FF 0%, #D8F8F2 50%, #DFFFE8 100%);
  --bg-header: #ececec;
  --bg-sidemenu: #ffffff;
  --bg-monthly-summary: #ffffff;
  --bg-signin:  #fafafa;
  --bg-footer: #e5e5e5;
  --h1-color: #0D3B66;

  --menu-text-color: #333333;
  --menu-hover-bg-color: #dcdcdc;
  --color-divider-green: #198754;
  --menu-item-underline: 0.125rem solid #000000;
}

/* background style */
@keyframes gradientDiagonal {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/*header login layout*/
@media (min-width: 768px) and (max-width: 992px)  {
  #header-content:has(.collapse.show) {
    flex-direction: column !important;
  }
}

.header-login {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media (min-width: 768px) {
  .header-login {
    flex-direction: row;
  }
}

.login-collapse-width {
  flex: 1;
}

/* sections styles */
#main {
  display: flex;
  flex: 1;
  background-image: var(--bg-primary);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-attachment: scroll;
  background-position: center, center;
  animation: gradientDiagonal 5s ease infinite;
}

#main .container {    /* center content vertically */
  margin: auto auto;
}

#header {
  padding: 1rem 0;
  background-color: var(--bg-header);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#header:has(nav) {
  padding-bottom: 0;
}

#signin-form, #signup-form {
  background-color: var(--bg-signin);
  width: min(100%, max(21.875rem, 35%));
  padding-left: min(calc(8.5vw - 0.5rem), 3rem);
  padding-right: min(calc(8.5vw - 0.5rem), 3rem);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

#signup-form {
  width: min(100%, max(27.5rem, 40%));
}

#footer {
  background-color: var(--bg-footer);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* -------------------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: var(--h1-color);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

.button-content-center {
  display: flex;
  justify-content: center;
}

.signup-note {
  font-size: 0.85em;
}

.signup-link {
  text-decoration: none;
  font-weight: bolder;
}

.logo-size {
  height: 3rem;
  margin: 0.5rem 0;
}

.article-divider {
  width: 50%;
  height: 0.2rem;
  margin: 2rem auto;
  background-color: var(--color-divider-green);
  border: none;
  box-shadow: 0 0.5rem 0.75rem var(--color-divider-green);
}

/* ------------------------ signup.html STYLES ------------------------------------------*/
.signup-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.required-note {
  margin: 0;
  font-size: 0.85em;
  text-align: end;
}

.terms-note {
  margin-bottom: 1.5rem;
  font-size: 0.85em;
}

.terms-link, .signin-link {
  font-weight: bolder;
}

.signin-note {
  margin: 1.5rem 0;
  font-size: 0.85em;
  text-align: center;
}

/* ------------------------ dashboard.html STYLES ------------------------------------------*/
/* HEADER STYLES */
#header-homepage {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* MENU BASE STYLES */
nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-end;
  gap: 2.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  min-height: 3rem;
}

nav a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--menu-text-color);
}

nav a.active {
  font-weight: bolder;
  border-bottom: var(--menu-item-underline);
}

nav a:hover:not(.sidebar-menu-icon) {
  font-weight: bolder;
  background-color: var(--menu-hover-bg-color);
  border-bottom: var(--menu-item-underline);
}

/* SIDEMENU STYLES */
.sidebar-nav-menu {
  display: none;
}

.sidebar-nav-menu.active {
  display: flex;  
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-nav-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;

  overflow-x: hidden;
  overflow-y: auto;

  padding: 2.5rem;
  height: 100vh;
  width: max(min(85%, 25rem), 15rem);
  padding: 2.5rem;
  justify-content: flex-start;
  gap: 1rem;

  background-color: var(--bg-sidemenu);
}

.sidebar-menu-icon img {
  height: 2.5rem;
  width: auto;
}

.sidebar-menu-icon img:hover {
  opacity: 0.5;
}

.sidebar-nav-menu li {
  width: 100%;
}

.sidebar-nav-menu li:first-child {
  display: flex;
  justify-content: flex-end;
}

.sidebar-nav-menu a {
  display: flex;
  gap: 0.5rem;
}

/* DESKTOP MENU STYLES*/
.desktop-nav-menu li {
  display: none;
}

.desktop-nav-menu li:last-child {
  display: list-item;
}

@media (min-width: 768px) {
  nav ul {
    place-content: center;
  }

  .desktop-nav-menu li {
    display: list-item;
  }

  .desktop-nav-menu li:last-child {
    display: none;
  }
}

/*  DASHBOARD */
.dashboard-section {
  background-color: var(--bg-monthly-summary);
  padding: 2.5rem clamp(2.5rem, 5vw, 5rem);

  display: flex;
  flex-direction: column;
  
  margin: auto;
}

@media (min-width: 768px) {
  .dashboard-section {
    flex-direction: row;
  }
}

/* DASHBOARD - MONTHLY SUMMARY */
.monthly-overview-wrapper {
  display: flex;
  flex-direction: column;
}

#monthly-overview-title {
  text-align: center;
  font-weight: bolder;
}

.monthly-summary-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  padding: 2.5rem 0;
  justify-items: center;
}

@media (min-width: 576px) {
  .monthly-summary-items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
  }
  .balance-item {
    grid-column: span 2;
  }
}

@media (min-width: 992px) {
  .monthly-summary-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .balance-item {
    grid-column: auto;
  }
}

.item-label {
  --item-color: 0 0 0; /* default value */

  width: 150px;
  height: 150px;
  border-radius: 50%;
  
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  
  padding-top: 2rem;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(var(--item-color));
  background-color: rgb(var(--item-color) / 0.1);
  box-shadow: 0 0 20px rgb(var(--item-color) / 0.6);
}

.item-label span {
  font-weight: bolder;
}

.income-item {
  --item-color: var(--income-primary-color);
}

.expense-item {
  --item-color: var(--expense-primary-color);
}

.balance-item {
 --item-color: var(--balance-primary-color);
}

.details-link {
  text-decoration: none;
  font-size: 0.9rem;
  
  align-self: flex-end;
}

