/* GLOBAL PROPERTIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "INTER";
  src: url("./assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* CUSTOM PROPERTIES */ 
:root {
  --bg-primary: linear-gradient(135deg, #E4F2FF 0%, #D8F8F2 50%, #DFFFE8 100%);
  --bg-header: #ececec;
  --bg-signin:  #fafafa;
  --bg-footer: #e5e5e5;
  --h1-color: #0D3B66;
  --color-divider-green: #198754;
}

/* background style */
@keyframes gradientDiagonal {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/*header login layout*/
@media (min-width: 768px) and (max-width: 992px)  {
  #header-content:has(.collapse.show) {
    flex-direction: column !important;
  }
}

.header-login {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media (min-width: 768px) {
  .header-login {
    flex-direction: row;
  }
}

.login-collapse-width {
  flex: 1;
}

/* sections styles */
#main {
  display: flex;
  flex: 1;
  background-image: var(--bg-primary);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-attachment: scroll;
  background-position: center, center;
  animation: gradientDiagonal 5s ease infinite;
}

#main .container {    /* center content vertically */
  margin: auto auto;
}

#header {
  padding: 1rem 0;
  background-color: var(--bg-header);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#signin-form, #signup-form {
  background-color: var(--bg-signin);
  width: min(100%, max(21.875rem, 35%));
  padding-left: min(calc(8.5vw - 0.5rem), 3rem);
  padding-right: min(calc(8.5vw - 0.5rem), 3rem);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

#signup-form {
  width: min(100%, max(27.5rem, 40%));
}

#footer {
  background-color: var(--bg-footer);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* -------------------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: var(--h1-color);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

.button-content-center {
  display: flex;
  justify-content: center;
}

.signup-note {
  font-size: 0.85em;
}

.signup-link {
  text-decoration: none;
  font-weight: bolder;
}

.logo-size {
  height: 3rem;
  margin: 0.5rem 0;
}

.article-divider {
  width: 50%;
  height: 0.2rem;
  margin: 2rem auto;
  background-color: var(--color-divider-green);
  border: none;
  box-shadow: 0 0.5rem 0.75rem var(--color-divider-green);
}

/* ------------------------ signup.html STYLES ------------------------------------------*/
.signup-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.required-note {
  margin: 0;
  font-size: 0.85em;
  text-align: end;
}

.terms-note {
  margin-bottom: 1.5rem;
  font-size: 0.85em;
}

.terms-link, .signin-link {
  font-weight: bolder;
}

.signin-note {
  margin: 1.5rem 0;
  font-size: 0.85em;
  text-align: center;
}
